*~
*.pyc
\#*
.#*
*.swp
tmp
build/
dist/
half_orm.egg-info/
halftest.egg-info/
.vscode/
.noseids
.pdbrc
pyproject.toml
.tox
Pipfile.dev
__pycache__
.coverage
bin/
lib/
lib64
pyvenv.cfg
.auto_venv
.env
.venv
