[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
psycopg2-binary = ">=2, <3"
pydash = "5"
click = "*"
pyyaml = "*"
half-orm = {editable = true, path = "."}

[dev-packages]
half-orm = {path = ".", editable = "true"}
gitpython = "3"
coverage = "*"
pytest = "*"
halftest = {path = "./test/halftest", editable = "true"}
build = "*"
twine = "*"
tox = "*"
flake8 = "*"
