[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
psycopg2-binary = ">=2, <3"
pyyaml = "*"
gitpython = "3"
click = "*"
pydash = "5"

[dev-packages]
half-orm = {editable = true, path = "."}
coverage = "*"
pytest = "*"
halftest = {path = "./test/halftest", editable = "true"}
build = "*"
twine = "*"
tox = "*"
flake8 = "*"
